{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <section id="welcome-banner">
        <h2>ARTEMIS</h2>
    </section>

    <section>
        <h2>Welcome</h2>
        <p>
            The Attica Regional IntegraTed Environmental and MaterIal Survey (ARTEMIS) is an archaeo-environmental survey of east Attica funded by the Arts and Humanities Council (UKRI 2591). It is an interdisciplinary research project involving collaborators from the University of Birmingham, Coventry University, Ephorate of Antiquities of East Attica, University of Patras, and University of Innsbruck. ARTEMIS aims to uncover the untold stories of Greek rural communities by generating an integrated human-environment narrative that brings the rural heart of ancient Greece to light. 
        </p>
        <p>
            Through this website you can <a href="{% url 'general:about' %}">read more about</a> the ARTEMIS project and <a href="{% url 'researchdata:search-comingsoon' %}">search our data</a> (this feature is coming soon).
        </p>
        <p>
            If you'd like to get in touch with us about the project please email us at <a href="mailto:xxxxx@bham.ac.uk">xxxxx@bham.ac.uk</a>
        </p>
    </section>

{% endblock %}