
/* ---------- General ---------- */

body,
html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #303030;
    font-size: 1em;
    line-height: 1.5em;
    background: #F0F0F0;

    /* Variables */
    --color-primary: #004FCB;
    --color-primary-dark: #002e78;
    --color-primary-light: #EDF4FF;
    --color-secondary: #f1c40f;
    --color-secondary-dark: #b39109;
    --color-secondary-light: rgb(255, 236, 116);
    --color-red: #c23616;
    --color-red-light: #e74c3c;
    --color-green: #008839;
    --color-purple: #8e44ad;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #CCC;
    height: 1px;
}

h1,
h2 {
    padding-bottom: 0.1em;
    font-weight: bold;
    font-size: 2.3em;
    color: black;
    background-color: white;
}

h3 {
    font-weight: bold;
    margin-top: 2rem;
}

h4 {
    font-weight: bold;
    margin-top: 1.5rem;
}

.form-inline .form-control {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

a {
    color: var(--color-primary);
    font-weight: bold;
}

a:hover {
    color: var(--color-primary-dark);
}

.btn-primary {
    background: var(--color-primary);
    border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: var(--color-primary) !important;
}

.btn-big {
    display: block;
    width: 14em;
    max-width: 90%;
    font-size: 1.2em;
    padding: 0.7em 0.2em;
    margin: 2em auto;
}

.hidden {
    display: none;
}

/* ---------- Form ---------- */

form {
    margin-top: -2em;
}

label {
    display: block;
    font-weight: bold;
    font-size: 1em;
    margin-top: 2em;
}

label.confirmation {
    text-align: center;
    font-weight: normal;
    margin-top: 3em;
    font-size: 1.2em;
    line-height: 2em;;
}

label.confirmation .danger {
    color: #dc3545;
    font-weight: bold;
}

input,
textarea {
    display: block;
    border: 1px solid #AAA;
    border-radius: 0.5em;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
textarea {
    width: 100%;
    padding: 0.5em 0.7em;
    font-size: 0.9em;
}

input[type='file'] {
    border: none;
    border-radius: 0;
}

main input[type='checkbox'] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 100%;
}

main input[type='checkbox']:checked {
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
}

button {
    display: block;
    width: 10em;
    max-width: 100%;
    background: var(--color-primary);
    color: white;
    border: 0;
    border-radius: 0.2em;
    padding: 0.8em 2em;
    margin: 3em auto 1.5em auto;
    font-weight: bold;
}

#cookie-message-popup button {
    margin: 0;
    background: white;
    color: black;
    width: fit-content;
}

.helptext {
    font-size: 0.8em;
}

/* ---------- Main ---------- */

section {
    background: white;
    display: block;
    border-radius: 0.5rem;
    margin: 1.3em 0;
}

section p {
    margin: 0.5em 0em;
}

/* ---------- Welcome ---------- */

section#welcome-banner {
    background-image: url('../images/welcome/welcome-banner.jpg');
    background-size: cover;
	background-position: top;
    background-color: black;
}

section#welcome-banner h2 {
    background: white;
    color: black;
    width: fit-content;
    font-weight: 900;
    padding: 0.3em 0.5em;
}

#welcome-logos {
    display: block;
    margin-top: 3em;
    max-width: 100%;
}

/* ---------- Blog ---------- */

/* List */

#blog-list {
    margin-top: 3em;
}

.blog-list-item {
    display: block;
    border-top: 1px solid #DDD;
    padding: 0.5em;
    color: black;
}

.blog-list-item:hover {
    background: var(--color-primary);
    text-decoration: none;
    color: white;
}

.blog-list-item-date {
    font-weight: normal;
    font-size: 0.9em;
    font-style: italic;
}

.blog-list-item-unpublished,
#blog-item-unpublished {
    width: fit-content;
    padding: 0.4em 0.8em;
    background: var(--color-red);
    color: white;
}

/* Detail */

#blog-item-unpublished {
    margin: 0 auto 1em auto;
}

#blog-item-details {
    text-align: center;
    font-weight: bold;
}

#blog-item-article {
    margin: 2em 0;
}

#blog-item-article .imglink {
    display: block;
    width: fit-content;
    max-width: 100%;
    margin: 2em auto 0.5em auto;
}

#blog-item-article img {
    display: block;
    width: 30em;
    max-width: 100%;
}

#blog-item-article .imgcaption {
    display: block;
    text-align: center;
    color: #696969;
    font-style: italic;
    font-size: 0.9em;
}

/* ---------- Downloads ---------- */

.downloads-downloadlink {
    background: var(--color-primary);
    color: white;
    padding: 0.4em 0.8em;
    border-radius: 0.3em;
    margin: 1em 0;
    display: block;
    width: fit-content;
}

.downloads-downloadlink:hover {
    background: var(--color-primary-dark);
    color: white;
    text-decoration: none;
}

.downloads-downloadlink i {
    padding-right: 0.3em;
}

/* ---------- Footer ---------- */

footer {
    margin-top: 5em;
    padding: 2em 0 7em 0;
    text-align: center;
    color: #606060;
    font-size: 0.9em;
}

#footer-content p {
    padding: 0;
    margin: 0;
}

#footer-logout {
    padding: 0;
    background: none;
    color: var(--color-primary);
    cursor: pointer;
    width: fit-content;
}

#footer-logout:hover {
    color: var(--color-primary-dark);
    text-decoration: underline;
}

/* ---------- Error Pages ---------- */

.errorpage-title {
    font-size: 3.3em;
    font-weight: bold;
    margin: 0.5em 0 1em 0;
}

.errorpage-path {
    font-weight: bold;
}

.errorpage-code {
    margin-top: 3em;
    font-size: 0.8em;
}
